.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}
// Widget Header
.widget-header {
  display: flex;
  background: $blue;
  justify-content: space-between;
  padding: $s-size;
  color: $off-white;
}

.widget-header__title {
  margin: 0;
}

.widget__message {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  border-bottom: 1rem solid lighten($color: $light-blue, $amount: 10%);
  text-align: center;
  // justify-content: space-around;
}